$primary: #3d5ca6;
$primaryHover: #375395;
$primaryActive: #314a85;

$primaryLight: #eceff6;
$primaryLightHover: #e2e7f2;
$primaryLightActive: #c3cce3;

$primaryDark: #2e457d;
$primaryDarkHover: #253764;
$primaryDarkActive: #1b294b;

$secondary: #597298;
$secondaryHover: #506789;
$secondaryActive: #475b7a;

$secondaryLight: #eef1f5;
$secondaryLightHover: #e6eaf0;
$secondaryLightActive: #ccd3df;

$secondaryDark: #435672;
$secondaryDarkHover: #35445b;
$secondaryDarkActive: #283344;

$tertiary: #00a991;
$tertiaryHover: #009883;
$tertiaryActive: #008774;

$tertiaryLight: #e6f6f4;
$tertiaryLightHover: #d9f2ef;
$tertiaryLightActive: #b0e4dd;

$tertiaryDark: #007f6d;
$tertiaryDarkHover: #006557;
$tertiaryDarkActive: #004c41;
